<a href="https://colab.research.google.com/github/hisics/-datawhisperers_final-project_dsml2021/blob/main/datawhisperers_sentiment_analysis_amazon_apparel_reviews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Option 8 - Sentiment Analysis for Ecommerce

Look at this document for reference,<br/>
https://colab.research.google.com/drive/1g6ZtYOOhGUj1WsiPpeaVPp5T7VFw234e?usp=sharing

In [95]:
# (1) Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split, cross_val_score,GridSearchCV, RandomizedSearchCV
from sklearn.metrics import confusion_matrix, classification_report, roc_curve, roc_auc_score

In [96]:
# (2) Download product reviews from Amazon Datasets
# You can use reviews from Amazon Datasets for a particular product.
# Note that the data are quite large so do not run this cell unless you are willing to wait!
# For reference, visit:
# https://www.tensorflow.org/datasets/catalog/amazon_us_reviews
# https://s3.amazonaws.com/amazon-reviews-pds/readme.html
!curl -O https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Apparel_v1_00.tsv.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  618M  100  618M    0     0  73.1M      0  0:00:08  0:00:08 --:--:-- 83.8M

In [97]:
!echo "y" | gzip -d amazon_reviews_us_Wireless_v1_00.tsv.gz

gzip: amazon_reviews_us_Wireless_v1_00.tsv.gz: No such file or directory

In [98]:
# (3.a) Read the contents of the folder 
!ls

amazon_reviews_us_Apparel_v1_00.tsv.gz	sample_data

In [99]:
# (3.b) Explore data (for example, see what is categorial and numerical)

In [100]:
df = pd.read_table('amazon_reviews_us_Apparel_v1_00.tsv.gz', delim_whitespace=False, error_bad_lines=False, nrows=100000)
df.info()
df

b'Skipping line 49396: expected 15 fields, saw 22\nSkipping line 57008: expected 15 fields, saw 22\n'
b'Skipping line 82075: expected 15 fields, saw 22\n'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   marketplace        100000 non-null  object
 1   customer_id        100000 non-null  int64
 2   review_id          100000 non-null  object
 3   product_id         100000 non-null  object
 4   product_parent     100000 non-null  int64
 5   product_title      100000 non-null  object
 6   product_category   100000 non-null  object
 7   star_rating        100000 non-null  int64
 8   helpful_votes      100000 non-null  int64
 9   total_votes        100000 non-null  int64
 10  vine               100000 non-null  object
 11  verified_purchase  100000 non-null  object
 12  review_headline    100000 non-null  object
 13  review_body        99947 non-null   object
 14  review_date        99997 non-null   object
dtypes: int64(5), object(10)
memory usage: 11.4+ MB

      marketplace  ...  review_date
0              US  ...   2013-01-14
1              US  ...   2014-03-04
2              US  ...   2015-07-12
3              US  ...   2015-06-03
4              US  ...   2015-06-12
...           ...  ...          ...
99995          US  ...   2015-05-05
99996          US  ...   2015-05-18
99997          US  ...   2015-06-29
99998          US  ...   2015-08-06
99999          US  ...   2015-07-07

[100000 rows x 15 columns]

In [101]:
# Check the distribution of the star rating with the DataFrame
df['star_rating'].value_counts()

5    53401
4    17787
1    11720
3    10402
2     6690
Name: star_rating, dtype: int64

In [102]:
df.describe

<bound method NDFrame.describe of       marketplace  ...  review_date
0              US  ...   2013-01-14
1              US  ...   2014-03-04
2              US  ...   2015-07-12
3              US  ...   2015-06-03
4              US  ...   2015-06-12
...           ...  ...          ...
99995          US  ...   2015-05-05
99996          US  ...   2015-05-18
99997          US  ...   2015-06-29
99998          US  ...   2015-08-06
99999          US  ...   2015-07-07

[100000 rows x 15 columns]>

###Cleaning data and converting data types

In [ ]:
pd.get_dummies(df)
cat_list = ['marketplace','review_id','product_id','product_title','product_category','vine','verified_purchase','review_headline','review_body','review_date']
df_num = df.drop(cat_list, inplace = False , axis = 1) 
df_num

df_cat = df[cat_list]


# Cleaning
# (1) Drop: marketplace + product_category + review_id
# (2) Map: vine + verified_purchase (y:1, n:0)
# (3) Clean text: review_headline + review_body 
# (4) Datetime: review_date
# (5) Combine the review headline and review date columns
# (6) Drop the rows where there are no reviews
# (7) Create a year column for EDA


YN_to_bool = {
    'Y': 1,
    'N': 0
    }

df['vine'] = df['vine'].map( YN_to_bool )
df['verified_purchase'] = df['verified_purchase'].map( YN_to_bool )
df.drop(['marketplace','product_category','review_id'], axis=1, inplace=True)
df['review_date'] = pd.to_datetime(df['review_date'])
df['review_body'] = df['review_headline'] + ' ' + df['review_body']
del df['review_headline']
df.dropna(subset = ['review_body'], inplace = True)
df['Year'] = df.review_date.dt.year
df.head()

## Pre-processing the text fields

https://medium.com/mlearning-ai/10-python-functions-you-need-to-apply-before-you-build-your-nlp-sentiment-analysis-model-874a37e0217e

In [ ]:
# Removing the hashtags
import re      # Import REGEX
def remove_mentions(text):
  text = re.sub("@[A-Za-z0-9_]+","", text)
  text = re.sub("#[A-Za-z0-9_]+","", text)
  return text

df['review_body'] = df.apply(lambda row: remove_mentions(row['review_body']), axis=1)

In [ ]:
# Tokenizer: Tokenization of data  At one stage we will need to deal with our text as a words list to iterate between the words and apply certain functions on it

import nltk         #Natural language processing tool-kit
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger') 

from nltk.tokenize import word_tokenize, sent_tokenize  # Import Tokenizer.
df['review_body'] = df.apply(lambda row: nltk.word_tokenize(row['review_body']), axis=1)

In [ ]:
# Removal of numbers and digits
import re      # Import REGEX
def remove_numbers(text):
  text = re.sub(r'\d+', '', str(text))
  return text

df['review_body'] = df.apply(lambda row: remove_numbers(row['review_body']), axis=1)

In [ ]:
# Removal of special characters
import re, string, unicodedata # Import Regex, string and unicodedata.
def remove_non_ascii(words):
    words = unicodedata.normalize('NFKD', words).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    return words

df['review_body'] = df.apply(lambda row: remove_non_ascii(row['review_body']), axis=1)

In [ ]:
# Removal of punctuation
import re      # Import REGEX
def remove_punctuation(text):
  text = re.sub(r'[^\w\s]', '', str(text))
  return text

df['review_body'] = df.apply(lambda row: remove_punctuation(row['review_body']), axis=1)

In [ ]:
# Import nltk stop words
# # Removal of stop words
# import nltk
# from nltk.corpus import stopwords            #Stopwords corpus
# stopwords = stopwords.words('english')

In [ ]:
# Customising the stop words - we need to review this
# customlist = ['not', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn',
#         "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn',
#         "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn',
#         "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

# # Set custom stop-word's list as not, couldn't etc. words matter in Sentiment, so not removing them from original data.

# stopwords = list(set(stopwords) - set(customlist))

In [ ]:
# # Checking if marketplace is only in the US
# df.marketplace.unique()

In [ ]:
# (4) Choose the label and features

In [ ]:
# (5) Feature engineer for data that is
# (a) relevant 
# (b) unique
# (c) correct 
# (d) not missing

# Drop data that is not a,b,c, or d
# Use one-hot encoding for nominal
# Reduce dimensions of your features

In [ ]:
# (6) Confirm data is ready with further exploratory analysis

In [ ]:
# (7) Training, Testing (and/or Validation) data split 

# for example, 60/20/20

In [ ]:
# (7.b) If using Deep Learning, building the model

# Add Input Layer
# Add Hidden Layers
# Add Output

In [ ]:
# (8) Training the Machine Learning Model (i.e, Fitting the Model)

In [ ]:
# (9) Evaluate the model metrics for Training (and/or Validation) data

In [ ]:
# (10) Evaluate the model metris for Testing data


# If metrics are poor, optimize either (a) the data, (b) the hyperpamaters

In [ ]:
# (11) Use the model for prediction

In [ ]:
# (12) Write final predicted data  (e.g, to CSV or JSON, etc.)