<a href="https://colab.research.google.com/github/hisics/-datawhisperers_final-project_dsml2021/blob/main/datawhisperers_sentiment_analysis_amazon_apparel_reviews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Option 8 - Sentiment Analysis for Ecommerce

Look at this document for reference,<br/>
https://colab.research.google.com/drive/1g6ZtYOOhGUj1WsiPpeaVPp5T7VFw234e?usp=sharing

In [1]:
# (1) Import libraries
import pandas as pd

In [2]:
# (2) Download product reviews from Amazon Datasets
# You can use reviews from Amazon Datasets for a particular product.
# Note that the data are quite large so do not run this cell unless you are willing to wait!
# For reference, visit:
# https://www.tensorflow.org/datasets/catalog/amazon_us_reviews
# https://s3.amazonaws.com/amazon-reviews-pds/readme.html
!curl -O https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Apparel_v1_00.tsv.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  618M  100  618M    0     0  83.0M      0  0:00:07  0:00:07 --:--:-- 84.6M

In [3]:
!echo "y" | gzip -d amazon_reviews_us_Wireless_v1_00.tsv.gz

gzip: amazon_reviews_us_Wireless_v1_00.tsv.gz: No such file or directory

In [4]:
# (3.a) Read the contents of the folder 
!ls

amazon_reviews_us_Apparel_v1_00.tsv.gz	sample_data

In [5]:
# (3.b) Explore data (for example, see what is categorial and numerical)

In [6]:
df = pd.read_table('amazon_reviews_us_Apparel_v1_00.tsv.gz', delim_whitespace=False, error_bad_lines=False, nrows=500)
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   marketplace        500 non-null    object
 1   customer_id        500 non-null    int64
 2   review_id          500 non-null    object
 3   product_id         500 non-null    object
 4   product_parent     500 non-null    int64
 5   product_title      500 non-null    object
 6   product_category   500 non-null    object
 7   star_rating        500 non-null    int64
 8   helpful_votes      500 non-null    int64
 9   total_votes        500 non-null    int64
 10  vine               500 non-null    object
 11  verified_purchase  500 non-null    object
 12  review_headline    500 non-null    object
 13  review_body        500 non-null    object
 14  review_date        500 non-null    object
dtypes: int64(5), object(10)
memory usage: 58.7+ KB

    marketplace  ...  review_date
0            US  ...   2013-01-14
1            US  ...   2014-03-04
2            US  ...   2015-07-12
3            US  ...   2015-06-03
4            US  ...   2015-06-12
..          ...  ...          ...
495          US  ...   2015-08-28
496          US  ...   2015-08-26
497          US  ...   2015-08-25
498          US  ...   2015-08-24
499          US  ...   2015-08-09

[500 rows x 15 columns]

###Cleaning data and converting data types

In [7]:
pd.get_dummies(df)
cat_list = ['marketplace','review_id','product_id','product_title','product_category','vine','verified_purchase','review_headline','review_body','review_date']
df_num = df.drop(cat_list, inplace = False , axis = 1) 
df_num

df_cat = df[cat_list]


# Cleaning
# (1) Drop: marketplace + product_category + review_id
# (2) Map: vine + verified_purchase (y:1, n:0)
# (3) Clean text: review_headline + review_body 
# (4) Datetime: review_date

YN_to_bool = {
    'Y': 1,
    'N': 0
    }

df['vine'] = df['vine'].map( YN_to_bool )
df['verified_purchase'] = df['verified_purchase'].map( YN_to_bool )
df.drop(['marketplace','product_category','review_id'], axis=1, inplace=True)
df.head()

   customer_id  ... review_date
0     32158956  ...  2013-01-14
1      2714559  ...  2014-03-04
2     12608825  ...  2015-07-12
3     25482800  ...  2015-06-03
4      9310286  ...  2015-06-12

[5 rows x 12 columns]

## Pre-processing the text fields

In [12]:
# Removing the hashtags
import re      # Import REGEX
def remove_mentions(text):
  text = re.sub("@[A-Za-z0-9_]+","", text)
  text = re.sub("#[A-Za-z0-9_]+","", text)
  return text


df['review_headline'] = df.apply(lambda row: remove_mentions(row['review_headline']), axis=1)

In [19]:
# Tokenizer. At one stage we will need to deal with our text as a words list to iterate between the words and apply certain functions on it

import nltk         #Natural language processing tool-kit
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger') 

from nltk.tokenize import word_tokenize, sent_tokenize  # Import Tokenizer.
df['review_headline'] = df.apply(lambda row: nltk.word_tokenize(row['review_headline']), axis=1) # Tokenization of data

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

In [18]:
# # Checking if marketplace is only in the US
# df.marketplace.unique()

In [ ]:
# (4) Choose the label and features

In [ ]:
# (5) Feature engineer for data that is
# (a) relevant 
# (b) unique
# (c) correct 
# (d) not missing

# Drop data that is not a,b,c, or d
# Use one-hot encoding for nominal
# Reduce dimensions of your features

In [ ]:
# (6) Confirm data is ready with further exploratory analysis

In [ ]:
# (7) Training, Testing (and/or Validation) data split 

# for example, 60/20/20

In [ ]:
# (7.b) If using Deep Learning, building the model

# Add Input Layer
# Add Hidden Layers
# Add Output

In [ ]:
# (8) Training the Machine Learning Model (i.e, Fitting the Model)

In [ ]:
# (9) Evaluate the model metrics for Training (and/or Validation) data

In [ ]:
# (10) Evaluate the model metris for Testing data


# If metrics are poor, optimize either (a) the data, (b) the hyperpamaters

In [ ]:
# (11) Use the model for prediction

In [ ]:
# (12) Write final predicted data  (e.g, to CSV or JSON, etc.)